body{
    padding: 5em;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 25px 40px;
    max-width: 550px;
    margin: 0 auto;
}
.header-username{
    font-size: 12px;
}
@media (max-width: 600px) {
    body{
        padding: 2.5em;
    }
    header{
        width: 90%;
        padding: 10px 25px;
        margin-top: 0;
    }
    .header-username{
        font-size: 9px;
    }
    .header-logo{
        width: 120px;
    }
}